<%- include('../views/partials/header')%>
<%- include('../views/partials/main_nav.ejs')%>  

 <!--BOTTOM NAV-->
 <main class="container">
  
    <div>
        <br>
      <h1 class="display-4" style="text-align: left;"><%= title %></h1>
      <%- include('../views/partials/home.ejs')%>
      <%- include('../views/partials/about.ejs')%>
      <%- include('../views/partials/projects.ejs')%>
      <%- include('../views/partials/services.ejs')%>
      <%- include('../views/partials/contact.ejs')%>
    </div>
 
  </main>


   



 

<%- include('../views/partials/bottom_nav.ejs')%>  
<%- include('../views/partials/footer')%>


 
    
